/* COMMON */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 65%;
}

header {
	background-color: #1C1821;
}

section {
	background-color: #2D2735;
}

footer {
	background-color: #1C1821;
}

header, 
a, 
p, 
span, 
input, 
.name {
	color: #ffffff;
}

nav a,
div a {
	text-decoration: none;
	font-family: 'Open Sans';
	font-style: italic;
}

div a {
	font-size: 90%;
    padding: 0 4%;
}

h4 {
	font-family: 'Courgette';
	color: #F7BA6A;
	line-height: normal;
	text-align: center;
}

.auto-with div,
.img-video div {
	text-align: center;
	padding-bottom: 2%;
}

p {
	font-family: 'Open Sans';
	font-size: 90%;
	padding: 1% 2%;
}

/* HEADER */

header nav a {
	display: inline-block;
    font-size: 95%;
    margin-top: 6%;
    padding-left: 5%;
}

/* SECTION */

.flower-page {
	padding: 4% 0;
}

.flower-bg {
	background-image: url("../image/header-image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10%;
    text-align: center;
}

.header-box {
	border: 1px solid #1C1821;
	background-color: #1C1821;
    width: 70%;
    text-align: center;
    display: inline-block;
    padding: 5%;
}

.flower-bg h1 {
	font-family: 'Courgette';
	font-size: 4em;
	color: #F7BA6A;
	line-height: normal;
}

.flower-block {
	background-color: #1C1821;
}

.auto-with .col:first-child {
    padding-left: 0;
}

.img-cascade .col:first-child {
    padding-left: 0;
}

.img-video {
	background-color: #1C1821;
}

.video {
 	padding-bottom: 10%;
	overflow: hidden;
 }

.video iframe, .video object, .video embed {
	width: 100%;
}

.col-5 div:first-child {
	border: 1px solid #1C1821;
	background-color: #1C1821;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 5%;
    border-radius: 4px;
}

input[type="text"] {
	border: 1px solid #2D2735;
	background-color: #2D2735;
    width: 95%;
    border-radius: 3px;
}

.profile {
	margin-top: 4%;
	background-color: #1C1821;
    width: 100%;
    display: inline-block;
}

.fa {
	padding: 2%;
    border: 1px solid #2D2735;
    border-radius: 50%;
    margin: 4% 3%;
    background-color: #2D2735;
    color: #ffffff;
}

.fa:hover {
	border: 1px solid #2D2735;
    border-radius: 50%;
    color: #F7BA6A;
}

/* FOOTER */

footer {
	text-align: center;
	padding: 3%;
}

@media screen and (max-width : 920px) {

	

}

@media screen and (max-width: 600px) {

}
